<h2>Create an acoount</h2>

<form action="/auth/signup" method="POST">
   <label> Username
      <input type="text" name="username" placeholder="artlover" required/>
   </label>

   <label> Email
        <input type="email" name="email" placeholder="artlover@artsy.com" required />
    </label>

   <label> Password
        <input type="password" name="password" placeholder="********" required />
    </label>

   <div class="info">
        <p>Already have an account? Click <a href="/auth/login">here</a> to login.</p>
   </div>

   <button type="submit">Register</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}